.App {
    display: grid;
    place-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.A4 {
    --zoom-adjust: 1.4;
    --A4-width: calc(210mm / var(--zoom-adjust));
    --A4-height: calc(297mm / var(--zoom-adjust));
    --aspect-ratio: calc(var(--A4-width) / var(var(--A4-height)));

    min-width: var(--A4-width);
    min-height: var(--A4-height);
    aspect-ratio: var(--aspect-ratio);
}
